/* Ordenes */

.order-page {
    display: flex; /* Usar Flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
    background-color: #F9EBCD; /* Fondo claro */
    padding: 20px;
}

.order-container {
    background-color: #EFCEB9; /* Fondo rosado del contenedor */
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
    margin-bottom: 20px;
    font-family: 'Avenir', Arial, sans-serif;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
}

.order-summary li {
    background-color: #FFF7E5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.order-summary li span {
    font-weight: bold;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-form label {
    font-weight: bold;
    color: #585857;
}

.order-form input {
    padding: 10px;
    border: 1px solid #CFCECE;
    border-radius: 5px;
    font-family: 'Avenir', Arial, sans-serif;
}

.order-form button {
    align-self: center;
    background-color: #F6A75E;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.order-form button:hover {
    background-color: #DEA297;
}
