/* global.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

/* Header */
header {
    background-color: #F6A75E; /* Fondo del header */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    max-width: 120px;
    height: auto;
}

header h1 {
    font-family: 'Catchye', Arial, sans-serif;
    color: #FFFFFF; /* Color del título */
    font-size: 30px;
    margin: 0 0 0 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: #FFFFFF; /* Color de los enlaces */
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #585857; /* Hover en enlaces */
}

.logo-container:hover {
    color: #585857; /* Hover en enlaces */
}

/* Footer */
footer {
    background-color: #CFCECE;
    color: #585857;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer a {
    color: #F6A75E; /* Color de los enlaces en el footer */
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

footer a:hover {
    color: #DEA297; /* Hover en enlaces del footer */
}
